<a href="https://colab.research.google.com/github/rimkahan888/daily_python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
data = {
    "A": ["Argentina", "Australia", "Austria", "Belgium", "Brazil", "Canada", "China", "Colombia",
          "Denmark", "Egypt", "Finland", "France", "Germany", "Greece", "India", "Indonesia",
          "Ireland", "Italy", "Japan", "Malaysia", "Mexico", "Netherlands", "Nigeria", "Norway",
          "Pakistan", "Philippines", "Russia", "South Korea", "Spain", "United States",
          "Bangladesh", "Vietnam", "Turkey", "South Africa", "Thailand", "Ukraine", "Poland", "Saudi Arabia",
          "Argentina", "Sweden", "Switzerland", "Belgium", "United Arab Emirates", "Taiwan", "Malaysia",
          "Singapore", "Hong Kong", "Chile", "Peru", "New Zealand"],
    "B": [960.94, 42.39, 416.17, 338.70, 1106.02, 1016.67, 1338.81, 134.97, 635.77, 49.55,
          331.86, 760.51, 44.67, 302.26, 976.58, 819.69, 334.56, 885.95, 1215.10, 14.72,
          1209.70, 1048.72, 513.67, 237.44, 1436.03, 508.21, 143.66, 149.59, 1272.00, 907.57,
          1211.66, 1095.95, 806.66, 1459.81, 570.91, 830.30, 1244.96, 929.69, 1293.25, 868.14,
          1058.33, 73.51, 345.71, 437.64, 124.29, 353.02, 156.00, 420.57, 955.35, 550.42],
    "C": [11.23, 6.44, 8.16, 28.11, 19.51, 18.35, 5.30, 21.93, 5.07, 11.51,
          29.69, 19.27, 16.80, 20.60, 25.32, 23.32, 7.03, 1.16, 9.60, 8.18,
          6.49, 28.30, 26.32, 9.58, 19.73, 11.99, 27.45, 13.87, 8.09, 7.55,
          16.93, 8.03, 17.62, 26.96, 12.10, 6.74, 29.93, 15.38, 2.91, 1.60,
          3.47, 18.90, 23.80, 12.78, 2.09, 11.57, 29.88, 15.97, 29.14, 25.85],
    "D": [242619, 1971859, 9058867, 4526583, 5757197, 1921534, 4974115, 7344150, 2703446, 7662220,
          104447, 4468934, 8448441, 3047281, 8567485, 1835277, 5057072, 8567169, 3387174, 2614217,
          6323233, 2760343, 9099278, 8947858, 59594, 5488436, 8247443, 376765, 1926828, 6139806,
          5209230, 4067343, 1021823, 4091154, 9568669, 1371324, 1487026, 8203566, 1211193, 8987326,
          2159911, 2204051, 8023915, 9274173, 2820370, 4496912, 8902897, 7149076, 3603384, 9097886],
    "E": [78.88, 77.25, 77.82, 69.97, 76.79, 69.34, 82.49, 71.29, 66.20, 61.60,
          60.53, 73.85, 74.71, 60.18, 77.70, 61.47, 61.69, 60.79, 68.26, 72.85,
          66.96, 72.14, 73.48, 78.08, 82.06, 74.41, 66.07, 71.82, 70.18, 62.36,
          76.47, 68.86, 70.28, 81.60, 61.35, 76.34, 76.15, 61.52, 78.21, 80.01,
          62.73, 64.79, 73.41, 63.50, 64.59, 71.57, 81.86, 61.88, 80.20, 81.40],
    "F": [45.38, 75.87, 69.73, 40.81, 45.13, 81.45, 53.00, 62.35, 66.47, 87.56,
          89.63, 49.06, 40.12, 61.47, 90.96, 83.18, 55.69, 78.31, 80.18, 83.08,
          76.40, 66.77, 50.44, 51.97, 43.22, 80.47, 43.35, 57.25, 42.76, 66.22,
          90.57, 69.21, 43.13, 67.93, 86.82, 43.77, 43.74, 87.40, 62.21, 91.79,
          71.33, 71.84, 42.19, 44.51, 76.16, 71.09, 57.40, 54.34, 76.83, 57.28]
}

In [3]:
import pandas as pd
# Create a DataFrame
df = pd.DataFrame(data)

# Display the first few rows of the DataFrame
print("Initial DataFrame:")
print(df.head(), "\n")

# 1. Create a new column 'B_D_Ratio' as the ratio of column B to D
df['B_D_Ratio'] = df['B'] / df['D']
print("DataFrame with 'B_D_Ratio':")
print(df[['A', 'B', 'D', 'B_D_Ratio']].head(), "\n")

# 2. Filter rows where column B is greater than the median value of B
median_B = df['B'].median()
df_filtered = df[df['B'] > median_B]
print(f"Filtered DataFrame (B > {median_B}):")
print(df_filtered[['A', 'B']].reset_index(drop=True), "\n")

# 3. Create a new column 'Country_initial' with the first letter of the country name (column A)
df['Country_initial'] = df['A'].str[0]
print("DataFrame with 'Country_initial':")
print(df[['A', 'Country_initial']].head(), "\n")

# 4. Group by the 'Country_initial' and compute the mean of columns B and D
grouped = df.groupby('Country_initial')[['B', 'D']].mean().reset_index()
print("Grouped DataFrame (mean of B and D by Country_initial):")
print(grouped, "\n")

# 5. Sort the DataFrame by column C in descending order
df_sorted = df.sort_values(by='C', ascending=False)
print("DataFrame sorted by column C (descending):")
print(df_sorted[['A', 'C']].head())

Initial DataFrame:
           A        B      C        D      E      F
0  Argentina   960.94  11.23   242619  78.88  45.38
1  Australia    42.39   6.44  1971859  77.25  75.87
2    Austria   416.17   8.16  9058867  77.82  69.73
3    Belgium   338.70  28.11  4526583  69.97  40.81
4     Brazil  1106.02  19.51  5757197  76.79  45.13

DataFrame with 'B_D_Ratio':
           A        B        D  B_D_Ratio
0  Argentina   960.94   242619   0.003961
1  Australia    42.39  1971859   0.000021
2    Austria   416.17  9058867   0.000046
3    Belgium   338.70  4526583   0.000075
4     Brazil  1106.02  5757197   0.000192

Filtered DataFrame (B > 698.14):
                A        B
0       Argentina   960.94
1          Brazil  1106.02
2          Canada  1016.67
3           China  1338.81
4          France   760.51
5           India   976.58
6       Indonesia   819.69
7           Italy   885.95
8           Japan  1215.10
9          Mexico  1209.70
10    Netherlands  1048.72
11       Pakistan  1436.03
12          Spain  1272.00
13  United States   907.57
14     Bangladesh  1211.66
15        Vietnam  1095.95
16         Turkey   806.66
17   South Africa  1459.81
18        Ukraine   830.30
19         Poland  1244.96
20   Saudi Arabia   929.69
21      Argentina  1293.25
22         Sweden   868.14
23    Switzerland  1058.33
24           Peru   955.35

DataFrame with 'Country_initial':
           A Country_initial
0  Argentina               A
1  Australia               A
2    Austria               A
3    Belgium               B
4     Brazil               B

Grouped DataFrame (mean of B and D by Country_initial):
   Country_initial            B             D
0                A   678.187500  3.121134e+06
1                B   682.472500  4.424265e+06
2                C   727.755000  5.347219e+06
3                D   635.770000  2.703446e+06
4                E    49.550000  7.662220e+06
5                F   546.185000  2.286690e+06
6                G   173.465000  5.747861e+06
7                H   156.000000  8.902897e+06
8                I   754.195000  6.006751e+06
9                J  1215.100000  3.387174e+06
10               M   449.570000  3.919273e+06
11               N   587.562500  7.476341e+06
12               P  1036.137500  2.659610e+06
13               R   143.660000  8.247443e+06
14               S   870.082857  4.320352e+06
15               T   605.070000  6.621555e+06
16               U   694.526667  5.178348e+06
17               V  1095.950000  4.067343e+06

DataFrame sorted by column C (descending):
              A      C
36       Poland  29.93
46    Hong Kong  29.88
10      Finland  29.69
48         Peru  29.14
21  Netherlands  28.30

In [ ]:
import pandas as pd

df=pd.DataFrame(data)
print(df.head())
print(df.tail())

           A        B      C        D      E      F
0  Argentina   960.94  11.23   242619  78.88  45.38
1  Australia    42.39   6.44  1971859  77.25  75.87
2    Austria   416.17   8.16  9058867  77.82  69.73
3    Belgium   338.70  28.11  4526583  69.97  40.81
4     Brazil  1106.02  19.51  5757197  76.79  45.13
              A       B      C        D      E      F
45    Singapore  353.02  11.57  4496912  71.57  71.09
46    Hong Kong  156.00  29.88  8902897  81.86  57.40
47        Chile  420.57  15.97  7149076  61.88  54.34
48         Peru  955.35  29.14  3603384  80.20  76.83
49  New Zealand  550.42  25.85  9097886  81.40  57.28

In [ ]:
# Group by column 'A' and calculate the mean of all numerical columns
grouped = df.groupby('A').mean()
print(grouped)

                             B       C          D       E       F
A
Argentina             1127.095   7.070   726906.0  78.545  53.795
Australia               42.390   6.440  1971859.0  77.250  75.870
Austria                416.170   8.160  9058867.0  77.820  69.730
Bangladesh            1211.660  16.930  5209230.0  76.470  90.570
Belgium                206.105  23.505  3365317.0  67.380  56.325
Brazil                1106.020  19.510  5757197.0  76.790  45.130
Canada                1016.670  18.350  1921534.0  69.340  81.450
Chile                  420.570  15.970  7149076.0  61.880  54.340
China                 1338.810   5.300  4974115.0  82.490  53.000
Colombia               134.970  21.930  7344150.0  71.290  62.350
Denmark                635.770   5.070  2703446.0  66.200  66.470
Egypt                   49.550  11.510  7662220.0  61.600  87.560
Finland                331.860  29.690   104447.0  60.530  89.630
France                 760.510  19.270  4468934.0  73.850  49.060
Germany                 44.670  16.800  8448441.0  74.710  40.120
Greece                 302.260  20.600  3047281.0  60.180  61.470
Hong Kong              156.000  29.880  8902897.0  81.860  57.400
India                  976.580  25.320  8567485.0  77.700  90.960
Indonesia              819.690  23.320  1835277.0  61.470  83.180
Ireland                334.560   7.030  5057072.0  61.690  55.690
Italy                  885.950   1.160  8567169.0  60.790  78.310
Japan                 1215.100   9.600  3387174.0  68.260  80.180
Malaysia                69.505   5.135  2717293.5  68.720  79.620
Mexico                1209.700   6.490  6323233.0  66.960  76.400
Netherlands           1048.720  28.300  2760343.0  72.140  66.770
New Zealand            550.420  25.850  9097886.0  81.400  57.280
Nigeria                513.670  26.320  9099278.0  73.480  50.440
Norway                 237.440   9.580  8947858.0  78.080  51.970
Pakistan              1436.030  19.730    59594.0  82.060  43.220
Peru                   955.350  29.140  3603384.0  80.200  76.830
Philippines            508.210  11.990  5488436.0  74.410  80.470
Poland                1244.960  29.930  1487026.0  76.150  43.740
Russia                 143.660  27.450  8247443.0  66.070  43.350
Saudi Arabia           929.690  15.380  8203566.0  61.520  87.400
Singapore              353.020  11.570  4496912.0  71.570  71.090
South Africa          1459.810  26.960  4091154.0  81.600  67.930
South Korea            149.590  13.870   376765.0  71.820  57.250
Spain                 1272.000   8.090  1926828.0  70.180  42.760
Sweden                 868.140   1.600  8987326.0  80.010  91.790
Switzerland           1058.330   3.470  2159911.0  62.730  71.330
Taiwan                 437.640  12.780  9274173.0  63.500  44.510
Thailand               570.910  12.100  9568669.0  61.350  86.820
Turkey                 806.660  17.620  1021823.0  70.280  43.130
Ukraine                830.300   6.740  1371324.0  76.340  43.770
United Arab Emirates   345.710  23.800  8023915.0  73.410  42.190
United States          907.570   7.550  6139806.0  62.360  66.220
Vietnam               1095.950   8.030  4067343.0  68.860  69.210

In [ ]:
print(df.A.describe())

count            50
unique           47
top       Argentina
freq              2
Name: A, dtype: object

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       50 non-null     object
 1   B       50 non-null     float64
 2   C       50 non-null     float64
 3   D       50 non-null     int64
 4   E       50 non-null     float64
 5   F       50 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 2.5+ KB
None

In [ ]:
df.columns = ['country','population','gdp','land','age','internet']
print(df.columns)

Index(['country', 'population', 'gdp', 'land', 'age', 'internet'], dtype='object')

In [ ]:
print(df)

                 country  population    gdp     land    age  internet
0              Argentina      960.94  11.23   242619  78.88     45.38
1              Australia       42.39   6.44  1971859  77.25     75.87
2                Austria      416.17   8.16  9058867  77.82     69.73
3                Belgium      338.70  28.11  4526583  69.97     40.81
4                 Brazil     1106.02  19.51  5757197  76.79     45.13
5                 Canada     1016.67  18.35  1921534  69.34     81.45
6                  China     1338.81   5.30  4974115  82.49     53.00
7               Colombia      134.97  21.93  7344150  71.29     62.35
8                Denmark      635.77   5.07  2703446  66.20     66.47
9                  Egypt       49.55  11.51  7662220  61.60     87.56
10               Finland      331.86  29.69   104447  60.53     89.63
11                France      760.51  19.27  4468934  73.85     49.06
12               Germany       44.67  16.80  8448441  74.71     40.12
13                Greece      302.26  20.60  3047281  60.18     61.47
14                 India      976.58  25.32  8567485  77.70     90.96
15             Indonesia      819.69  23.32  1835277  61.47     83.18
16               Ireland      334.56   7.03  5057072  61.69     55.69
17                 Italy      885.95   1.16  8567169  60.79     78.31
18                 Japan     1215.10   9.60  3387174  68.26     80.18
19              Malaysia       14.72   8.18  2614217  72.85     83.08
20                Mexico     1209.70   6.49  6323233  66.96     76.40
21           Netherlands     1048.72  28.30  2760343  72.14     66.77
22               Nigeria      513.67  26.32  9099278  73.48     50.44
23                Norway      237.44   9.58  8947858  78.08     51.97
24              Pakistan     1436.03  19.73    59594  82.06     43.22
25           Philippines      508.21  11.99  5488436  74.41     80.47
26                Russia      143.66  27.45  8247443  66.07     43.35
27           South Korea      149.59  13.87   376765  71.82     57.25
28                 Spain     1272.00   8.09  1926828  70.18     42.76
29         United States      907.57   7.55  6139806  62.36     66.22
30            Bangladesh     1211.66  16.93  5209230  76.47     90.57
31               Vietnam     1095.95   8.03  4067343  68.86     69.21
32                Turkey      806.66  17.62  1021823  70.28     43.13
33          South Africa     1459.81  26.96  4091154  81.60     67.93
34              Thailand      570.91  12.10  9568669  61.35     86.82
35               Ukraine      830.30   6.74  1371324  76.34     43.77
36                Poland     1244.96  29.93  1487026  76.15     43.74
37          Saudi Arabia      929.69  15.38  8203566  61.52     87.40
38             Argentina     1293.25   2.91  1211193  78.21     62.21
39                Sweden      868.14   1.60  8987326  80.01     91.79
40           Switzerland     1058.33   3.47  2159911  62.73     71.33
41               Belgium       73.51  18.90  2204051  64.79     71.84
42  United Arab Emirates      345.71  23.80  8023915  73.41     42.19
43                Taiwan      437.64  12.78  9274173  63.50     44.51
44              Malaysia      124.29   2.09  2820370  64.59     76.16
45             Singapore      353.02  11.57  4496912  71.57     71.09
46             Hong Kong      156.00  29.88  8902897  81.86     57.40
47                 Chile      420.57  15.97  7149076  61.88     54.34
48                  Peru      955.35  29.14  3603384  80.20     76.83
49           New Zealand      550.42  25.85  9097886  81.40     57.28

In [ ]:
df_s = df[df['country'].str.startswith('S')]
print(df_s)

         country  population    gdp     land    age  internet
27   South Korea      149.59  13.87   376765  71.82     57.25
28         Spain     1272.00   8.09  1926828  70.18     42.76
33  South Africa     1459.81  26.96  4091154  81.60     67.93
37  Saudi Arabia      929.69  15.38  8203566  61.52     87.40
39        Sweden      868.14   1.60  8987326  80.01     91.79
40   Switzerland     1058.33   3.47  2159911  62.73     71.33
45     Singapore      353.02  11.57  4496912  71.57     71.09

In [ ]:
df_a=df[df['country'].str.startswith('A')]
print(df_a)

      country  population    gdp     land    age  internet
0   Argentina      960.94  11.23   242619  78.88     45.38
1   Australia       42.39   6.44  1971859  77.25     75.87
2     Austria      416.17   8.16  9058867  77.82     69.73
38  Argentina     1293.25   2.91  1211193  78.21     62.21

In [ ]:
print(df.head())

     country  population    gdp     land    age  internet
0  Argentina      960.94  11.23   242619  78.88     45.38
1  Australia       42.39   6.44  1971859  77.25     75.87
2    Austria      416.17   8.16  9058867  77.82     69.73
3    Belgium      338.70  28.11  4526583  69.97     40.81
4     Brazil     1106.02  19.51  5757197  76.79     45.13

In [ ]:
df_z=df[df['country'].str.contains('z')]

print(df_z)

        country  population    gdp     land    age  internet
4        Brazil     1106.02  19.51  5757197  76.79     45.13
40  Switzerland     1058.33   3.47  2159911  62.73     71.33

In [ ]:
print(df.head(20))

      country  population    gdp     land    age  internet
0   Argentina      960.94  11.23   242619  78.88     45.38
1   Australia       42.39   6.44  1971859  77.25     75.87
2     Austria      416.17   8.16  9058867  77.82     69.73
3     Belgium      338.70  28.11  4526583  69.97     40.81
4      Brazil     1106.02  19.51  5757197  76.79     45.13
5      Canada     1016.67  18.35  1921534  69.34     81.45
6       China     1338.81   5.30  4974115  82.49     53.00
7    Colombia      134.97  21.93  7344150  71.29     62.35
8     Denmark      635.77   5.07  2703446  66.20     66.47
9       Egypt       49.55  11.51  7662220  61.60     87.56
10    Finland      331.86  29.69   104447  60.53     89.63
11     France      760.51  19.27  4468934  73.85     49.06
12    Germany       44.67  16.80  8448441  74.71     40.12
13     Greece      302.26  20.60  3047281  60.18     61.47
14      India      976.58  25.32  8567485  77.70     90.96
15  Indonesia      819.69  23.32  1835277  61.47     83.18
16    Ireland      334.56   7.03  5057072  61.69     55.69
17      Italy      885.95   1.16  8567169  60.79     78.31
18      Japan     1215.10   9.60  3387174  68.26     80.18
19   Malaysia       14.72   8.18  2614217  72.85     83.08

In [ ]:
df_1123=df[df['gdp'] == 11.23]
print(df_1123)

     country  population    gdp    land    age  internet
0  Argentina      960.94  11.23  242619  78.88     45.38

In [ ]:
print((df[df.gdp >10]).head())

     country  population    gdp     land    age  internet
0  Argentina      960.94  11.23   242619  78.88     45.38
3    Belgium      338.70  28.11  4526583  69.97     40.81
4     Brazil     1106.02  19.51  5757197  76.79     45.13
5     Canada     1016.67  18.35  1921534  69.34     81.45
7   Colombia      134.97  21.93  7344150  71.29     62.35

In [ ]:
df['combined']=df['gdp'].astype(str) + ' - ' + df['land'].astype(str)
print(df.head())

     country  population    gdp     land    age  internet         combined
0  Argentina      960.94  11.23   242619  78.88     45.38   11.23 - 242619
1  Australia       42.39   6.44  1971859  77.25     75.87   6.44 - 1971859
2    Austria      416.17   8.16  9058867  77.82     69.73   8.16 - 9058867
3    Belgium      338.70  28.11  4526583  69.97     40.81  28.11 - 4526583
4     Brazil     1106.02  19.51  5757197  76.79     45.13  19.51 - 5757197

In [ ]:
df2=df.drop(columns=['combined','internet'])
print(df2.head())

     country  population    gdp     land    age
0  Argentina      960.94  11.23   242619  78.88
1  Australia       42.39   6.44  1971859  77.25
2    Austria      416.17   8.16  9058867  77.82
3    Belgium      338.70  28.11  4526583  69.97
4     Brazil     1106.02  19.51  5757197  76.79

In [ ]:
df1=df.drop(columns=['combined'])
print(df1.head())

     country  population    gdp     land    age
0  Argentina      960.94  11.23   242619  78.88
1  Australia       42.39   6.44  1971859  77.25
2    Austria      416.17   8.16  9058867  77.82
3    Belgium      338.70  28.11  4526583  69.97
4     Brazil     1106.02  19.51  5757197  76.79

In [ ]:
df2=df1.drop(columns=['internet','age'])
print(df2.head())

     country  population    gdp     land
0  Argentina      960.94  11.23   242619
1  Australia       42.39   6.44  1971859
2    Austria      416.17   8.16  9058867
3    Belgium      338.70  28.11  4526583
4     Brazil     1106.02  19.51  5757197

In [ ]:
print(df.country.describe())

count            50
unique           47
top       Argentina
freq              2
Name: country, dtype: object

In [ ]:
print(df.land.describe())

count    5.000000e+01
mean     4.891618e+06
std      3.055146e+06
min      5.959400e+04
25%      2.170946e+06
50%      4.511748e+06
75%      8.158653e+06
max      9.568669e+06
Name: land, dtype: float64

In [ ]:
print(df[['country','population']])

                 country  population
0              Argentina      960.94
1              Australia       42.39
2                Austria      416.17
3                Belgium      338.70
4                 Brazil     1106.02
5                 Canada     1016.67
6                  China     1338.81
7               Colombia      134.97
8                Denmark      635.77
9                  Egypt       49.55
10               Finland      331.86
11                France      760.51
12               Germany       44.67
13                Greece      302.26
14                 India      976.58
15             Indonesia      819.69
16               Ireland      334.56
17                 Italy      885.95
18                 Japan     1215.10
19              Malaysia       14.72
20                Mexico     1209.70
21           Netherlands     1048.72
22               Nigeria      513.67
23                Norway      237.44
24              Pakistan     1436.03
25           Philippines      508.21
26                Russia      143.66
27           South Korea      149.59
28                 Spain     1272.00
29         United States      907.57
30            Bangladesh     1211.66
31               Vietnam     1095.95
32                Turkey      806.66
33          South Africa     1459.81
34              Thailand      570.91
35               Ukraine      830.30
36                Poland     1244.96
37          Saudi Arabia      929.69
38             Argentina     1293.25
39                Sweden      868.14
40           Switzerland     1058.33
41               Belgium       73.51
42  United Arab Emirates      345.71
43                Taiwan      437.64
44              Malaysia      124.29
45             Singapore      353.02
46             Hong Kong      156.00
47                 Chile      420.57
48                  Peru      955.35
49           New Zealand      550.42

In [ ]:
filtered_df = df[(df['country'].str.startswith('S')) & (df['population'] > 500)]
print(filtered_df)

         country  population    gdp     land    age  internet
28         Spain     1272.00   8.09  1926828  70.18     42.76
33  South Africa     1459.81  26.96  4091154  81.60     67.93
37  Saudi Arabia      929.69  15.38  8203566  61.52     87.40
39        Sweden      868.14   1.60  8987326  80.01     91.79
40   Switzerland     1058.33   3.47  2159911  62.73     71.33

In [ ]:
filtered_df_drop_internet=filtered_df.drop(columns=['internet'])
print(filtered_df_drop_internet)

         country  population    gdp     land    age
28         Spain     1272.00   8.09  1926828  70.18
33  South Africa     1459.81  26.96  4091154  81.60
37  Saudi Arabia      929.69  15.38  8203566  61.52
39        Sweden      868.14   1.60  8987326  80.01
40   Switzerland     1058.33   3.47  2159911  62.73

In [ ]:
df_a=df[df.iloc[:,0].str.startswith('A')]
print(df_a)

      country  population    gdp     land    age  internet
0   Argentina      960.94  11.23   242619  78.88     45.38
1   Australia       42.39   6.44  1971859  77.25     75.87
2     Austria      416.17   8.16  9058867  77.82     69.73
38  Argentina     1293.25   2.91  1211193  78.21     62.21

In [ ]:
print(df.head())

     country  population    gdp     land    age  internet
0  Argentina      960.94  11.23   242619  78.88     45.38
1  Australia       42.39   6.44  1971859  77.25     75.87
2    Austria      416.17   8.16  9058867  77.82     69.73
3    Belgium      338.70  28.11  4526583  69.97     40.81
4     Brazil     1106.02  19.51  5757197  76.79     45.13

In [ ]:
print(df.iloc[2,:])
print (df.head())

country       Austria
population     416.17
gdp              8.16
land          9058867
age             77.82
internet        69.73
Name: 2, dtype: object
     country  population    gdp     land    age  internet
0  Argentina      960.94  11.23   242619  78.88     45.38
1  Australia       42.39   6.44  1971859  77.25     75.87
2    Austria      416.17   8.16  9058867  77.82     69.73
3    Belgium      338.70  28.11  4526583  69.97     40.81
4     Brazil     1106.02  19.51  5757197  76.79     45.13

In [ ]:
print(df.head())

df=df[df['population']>1000]
print(df.head())

     country  population    gdp     land    age  internet
0  Argentina      960.94  11.23   242619  78.88     45.38
1  Australia       42.39   6.44  1971859  77.25     75.87
2    Austria      416.17   8.16  9058867  77.82     69.73
3    Belgium      338.70  28.11  4526583  69.97     40.81
4     Brazil     1106.02  19.51  5757197  76.79     45.13
   country  population    gdp     land    age  internet
4   Brazil     1106.02  19.51  5757197  76.79     45.13
5   Canada     1016.67  18.35  1921534  69.34     81.45
6    China     1338.81   5.30  4974115  82.49     53.00
18   Japan     1215.10   9.60  3387174  68.26     80.18
20  Mexico     1209.70   6.49  6323233  66.96     76.40

In [ ]:
print(df.head())

           A        B      C        D      E      F
0  Argentina   960.94  11.23   242619  78.88  45.38
1  Australia    42.39   6.44  1971859  77.25  75.87
2    Austria   416.17   8.16  9058867  77.82  69.73
3    Belgium   338.70  28.11  4526583  69.97  40.81
4     Brazil  1106.02  19.51  5757197  76.79  45.13

In [ ]:
print(df.B.tail())

45     8848.32
46     5696.00
47     9929.12
48    18485.60
49    12006.72
Name: B, dtype: float64

In [ ]:
df.B=df.B.apply(lambda x: x-100)
print (df.B.head())

0    18475.04
1     3778.24
2     9758.72
3     8519.20
4    20796.32
Name: B, dtype: float64

In [ ]:
df2=df

In [ ]:
df2.B=df2.B.apply(lambda x: x+300)
print(df.B.head())

0    1160.94
1     242.39
2     616.17
3     538.70
4    1306.02
Name: B, dtype: float64

In [ ]:
df2.B=df2.B.apply(lambda x: x *2)
print(df2.B.describe())
print(df2.B.shape)

count       50.000000
mean     14060.368000
std       7015.462558
min       3435.520000
25%       8520.560000
50%      14370.240000
75%      19851.320000
max      26556.960000
Name: B, dtype: float64
(50,)

In [ ]:
!apt-get install jq

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libjq1 libonig5
The following NEW packages will be installed:
  jq libjq1 libonig5
0 upgraded, 3 newly installed, 0 to remove and 20 not upgraded.
Need to get 357 kB of archives.
After this operation, 1,087 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 libonig5 amd64 6.9.7.1-2build1 [172 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjq1 amd64 1.6-2.1ubuntu3 [133 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 jq amd64 1.6-2.1ubuntu3 [52.5 kB]
Fetched 357 kB in 1s (365 kB/s)
Selecting previously unselected package libonig5:amd64.
(Reading database ... 124926 files and directories currently installed.)
Preparing to unpack .../libonig5_6.9.7.1-2build1_amd64.deb ...
Unpacking libonig5:amd64 (6.9.7.1-2build1) ...
Selecting previously unselected package libjq1:amd64.
Preparing to unpack .../libjq1_1.6-2.1ubuntu3_amd64.deb ...
Unpacking libjq1:amd64 (1.6-2.1ubuntu3) ...
Selecting previously unselected package jq.
Preparing to unpack .../jq_1.6-2.1ubuntu3_amd64.deb ...
Unpacking jq (1.6-2.1ubuntu3) ...
Setting up libonig5:amd64 (6.9.7.1-2build1) ...
Setting up libjq1:amd64 (1.6-2.1ubuntu3) ...
Setting up jq (1.6-2.1ubuntu3) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.8) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm_debug.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libumf.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtcm.so.1 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libhwloc.so.15 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

In [ ]:
!curl -s https://pokeapi.co/api/v2/pokemon/pikachu | jq '.abilities'

[
  {
    "ability": {
      "name": "static",
      "url": "https://pokeapi.co/api/v2/ability/9/"
    },
    "is_hidden": false,
    "slot": 1
  },
  {
    "ability": {
      "name": "lightning-rod",
      "url": "https://pokeapi.co/api/v2/ability/31/"
    },
    "is_hidden": true,
    "slot": 3
  }
]

In [ ]:
import requests

def fetch_pokemon_names():
    """Generator function to yield Pokémon names from the API"""
    url = "https://pokeapi.co/api/v2/pokemon?limit=2000"
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        for pokemon in data['results']:  # Iterate over results
            yield pokemon['name']  # Yield one name at a time
    else:
        yield "Failed to fetch data from PokeAPI"

# Using the generator
pokemon_generator = fetch_pokemon_names()

# Example: Print first 10 Pokémon names
print("Available Pokémon names:")
for i, name in enumerate(pokemon_generator):
    if i >= 10:  # Stop after 10 names for demonstration
        break
    print(name)

Available Pokémon names:
bulbasaur
ivysaur
venusaur
charmander
charmeleon
charizard
squirtle
wartortle
blastoise
caterpie

In [ ]:
import requests

def fetch_pokemon_batches(batch_size=10):
    """Generator function to yield Pokémon names in batches"""
    url = "https://pokeapi.co/api/v2/pokemon?limit=2000"
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        pokemon_list = [pokemon['name'] for pokemon in data['results']]

        # Yield batches of batch_size
        for i in range(0, len(pokemon_list), batch_size):
            yield pokemon_list[i:i + batch_size]  # Yield a batch of 10 Pokémon names
    else:
        yield ["Failed to fetch data from PokeAPI"]

# Using the generator to fetch Pokémon in batches of 10
pokemon_batch_generator = fetch_pokemon_batches(batch_size=10)

# Example: Print the first 5 batches
print("Available Pokémon names in batches of 10:")
for i, batch in enumerate(pokemon_batch_generator):
    if i >= 5:  # Stop after 5 batches for demonstration
        break
    print(f"Batch {i + 1}: {batch}")

Available Pokémon names in batches of 10:
Batch 1: ['bulbasaur', 'ivysaur', 'venusaur', 'charmander', 'charmeleon', 'charizard', 'squirtle', 'wartortle', 'blastoise', 'caterpie']
Batch 2: ['metapod', 'butterfree', 'weedle', 'kakuna', 'beedrill', 'pidgey', 'pidgeotto', 'pidgeot', 'rattata', 'raticate']
Batch 3: ['spearow', 'fearow', 'ekans', 'arbok', 'pikachu', 'raichu', 'sandshrew', 'sandslash', 'nidoran-f', 'nidorina']
Batch 4: ['nidoqueen', 'nidoran-m', 'nidorino', 'nidoking', 'clefairy', 'clefable', 'vulpix', 'ninetales', 'jigglypuff', 'wigglytuff']
Batch 5: ['zubat', 'golbat', 'oddish', 'gloom', 'vileplume', 'paras', 'parasect', 'venonat', 'venomoth', 'diglett']

In [ ]:
import requests

api_base=a
api_key=b
client_id=c

def get_domain():
    url=f"{api_base}/domains/{client_id}?api_key={api_key}"
    response = requests.get(url)
    response.raise_for_status()
    return response.json()

def get_